# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/builder-debug.yml
dist/builder-effective-config.yaml
dist/win-unpacked/chrome_100_percent.pak
dist/win-unpacked/chrome_200_percent.pak
dist/win-unpacked/d3dcompiler_47.dll
dist/win-unpacked/ffmpeg.dll
dist/win-unpacked/icudtl.dat
dist/win-unpacked/libEGL.dll
dist/win-unpacked/libGLESv2.dll
dist/win-unpacked/LICENSE.electron.txt
dist/win-unpacked/LICENSES.chromium.html
dist/win-unpacked/realindicator.exe
dist/win-unpacked/resources.pak
dist/win-unpacked/snapshot_blob.bin
dist/win-unpacked/v8_context_snapshot.bin
dist/win-unpacked/vk_swiftshader_icd.json
dist/win-unpacked/vk_swiftshader.dll
dist/win-unpacked/vulkan-1.dll
dist/win-unpacked/locales/af.pak
dist/win-unpacked/locales/am.pak
dist/win-unpacked/locales/ar.pak
dist/win-unpacked/locales/bg.pak
dist/win-unpacked/locales/bn.pak
dist/win-unpacked/locales/ca.pak
dist/win-unpacked/locales/cs.pak
dist/win-unpacked/locales/da.pak
dist/win-unpacked/locales/de.pak
dist/win-unpacked/locales/el.pak
dist/win-unpacked/locales/en-GB.pak
dist/win-unpacked/locales/en-US.pak
dist/win-unpacked/locales/es-419.pak
dist/win-unpacked/locales/es.pak
dist/win-unpacked/locales/et.pak
dist/win-unpacked/locales/fa.pak
dist/win-unpacked/locales/fi.pak
dist/win-unpacked/locales/fil.pak
dist/win-unpacked/locales/fr.pak
dist/win-unpacked/locales/gu.pak
dist/win-unpacked/locales/he.pak
dist/win-unpacked/locales/hi.pak
dist/win-unpacked/locales/hr.pak
dist/win-unpacked/locales/hu.pak
dist/win-unpacked/locales/id.pak
dist/win-unpacked/locales/it.pak
dist/win-unpacked/locales/ja.pak
dist/win-unpacked/locales/kn.pak
dist/win-unpacked/locales/ko.pak
dist/win-unpacked/locales/lt.pak
dist/win-unpacked/locales/lv.pak
dist/win-unpacked/locales/ml.pak
dist/win-unpacked/locales/mr.pak
dist/win-unpacked/locales/ms.pak
dist/win-unpacked/locales/nb.pak
dist/win-unpacked/locales/nl.pak
dist/win-unpacked/locales/pl.pak
dist/win-unpacked/locales/pt-BR.pak
dist/win-unpacked/locales/pt-PT.pak
dist/win-unpacked/locales/ro.pak
dist/win-unpacked/locales/ru.pak
dist/win-unpacked/locales/sk.pak
dist/win-unpacked/locales/sl.pak
dist/win-unpacked/locales/sr.pak
dist/win-unpacked/locales/sv.pak
dist/win-unpacked/locales/sw.pak
dist/win-unpacked/locales/ta.pak
dist/win-unpacked/locales/te.pak
dist/win-unpacked/locales/th.pak
dist/win-unpacked/locales/tr.pak
dist/win-unpacked/locales/uk.pak
dist/win-unpacked/locales/ur.pak
dist/win-unpacked/locales/vi.pak
dist/win-unpacked/locales/zh-CN.pak
dist/win-unpacked/locales/zh-TW.pak
dist/win-unpacked/resources/app-update.yml
dist/win-unpacked/resources/app.asar
out/make/squirrel.windows/x64/realindicator-0.1.0 Setup.exe
out/make/squirrel.windows/x64/realindicator-0.1.0-full.nupkg
out/make/squirrel.windows/x64/RELEASES
out/realindicator-win32-x64/chrome_100_percent.pak
out/realindicator-win32-x64/chrome_200_percent.pak
out/realindicator-win32-x64/d3dcompiler_47.dll
out/realindicator-win32-x64/ffmpeg.dll
out/realindicator-win32-x64/icudtl.dat
out/realindicator-win32-x64/libEGL.dll
out/realindicator-win32-x64/libGLESv2.dll
out/realindicator-win32-x64/LICENSE
out/realindicator-win32-x64/LICENSES.chromium.html
out/realindicator-win32-x64/realindicator.exe
out/realindicator-win32-x64/resources.pak
out/realindicator-win32-x64/snapshot_blob.bin
out/realindicator-win32-x64/Squirrel.exe
out/realindicator-win32-x64/v8_context_snapshot.bin
out/realindicator-win32-x64/version
out/realindicator-win32-x64/vk_swiftshader_icd.json
out/realindicator-win32-x64/vk_swiftshader.dll
out/realindicator-win32-x64/vulkan-1.dll
out/realindicator-win32-x64/locales/af.pak
out/realindicator-win32-x64/locales/am.pak
out/realindicator-win32-x64/locales/ar.pak
out/realindicator-win32-x64/locales/bg.pak
out/realindicator-win32-x64/locales/bn.pak
out/realindicator-win32-x64/locales/ca.pak
out/realindicator-win32-x64/locales/cs.pak
out/realindicator-win32-x64/locales/da.pak
out/realindicator-win32-x64/locales/de.pak
out/realindicator-win32-x64/locales/el.pak
out/realindicator-win32-x64/locales/en-GB.pak
out/realindicator-win32-x64/locales/en-US.pak
out/realindicator-win32-x64/locales/es-419.pak
out/realindicator-win32-x64/locales/es.pak
out/realindicator-win32-x64/locales/et.pak
out/realindicator-win32-x64/locales/fa.pak
out/realindicator-win32-x64/locales/fi.pak
out/realindicator-win32-x64/locales/fil.pak
out/realindicator-win32-x64/locales/fr.pak
out/realindicator-win32-x64/locales/gu.pak
out/realindicator-win32-x64/locales/he.pak
out/realindicator-win32-x64/locales/hi.pak
out/realindicator-win32-x64/locales/hr.pak
out/realindicator-win32-x64/locales/hu.pak
out/realindicator-win32-x64/locales/id.pak
out/realindicator-win32-x64/locales/it.pak
out/realindicator-win32-x64/locales/ja.pak
out/realindicator-win32-x64/locales/kn.pak
out/realindicator-win32-x64/locales/ko.pak
out/realindicator-win32-x64/locales/lt.pak
out/realindicator-win32-x64/locales/lv.pak
out/realindicator-win32-x64/locales/ml.pak
out/realindicator-win32-x64/locales/mr.pak
out/realindicator-win32-x64/locales/ms.pak
out/realindicator-win32-x64/locales/nb.pak
out/realindicator-win32-x64/locales/nl.pak
out/realindicator-win32-x64/locales/pl.pak
out/realindicator-win32-x64/locales/pt-BR.pak
out/realindicator-win32-x64/locales/pt-PT.pak
out/realindicator-win32-x64/locales/ro.pak
out/realindicator-win32-x64/locales/ru.pak
out/realindicator-win32-x64/locales/sk.pak
out/realindicator-win32-x64/locales/sl.pak
out/realindicator-win32-x64/locales/sr.pak
out/realindicator-win32-x64/locales/sv.pak
out/realindicator-win32-x64/locales/sw.pak
out/realindicator-win32-x64/locales/ta.pak
out/realindicator-win32-x64/locales/te.pak
out/realindicator-win32-x64/locales/th.pak
out/realindicator-win32-x64/locales/tr.pak
out/realindicator-win32-x64/locales/uk.pak
out/realindicator-win32-x64/locales/ur.pak
out/realindicator-win32-x64/locales/vi.pak
out/realindicator-win32-x64/locales/zh-CN.pak
out/realindicator-win32-x64/locales/zh-TW.pak
out/realindicator-win32-x64/resources/app/.gitignore
out/realindicator-win32-x64/resources/app/forge.config.js
out/realindicator-win32-x64/resources/app/package.json
out/realindicator-win32-x64/resources/app/README.md
out/realindicator-win32-x64/resources/app/dist/builder-debug.yml
out/realindicator-win32-x64/resources/app/dist/builder-effective-config.yaml
out/realindicator-win32-x64/resources/app/dist/win-unpacked/chrome_100_percent.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/chrome_200_percent.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/d3dcompiler_47.dll
out/realindicator-win32-x64/resources/app/dist/win-unpacked/ffmpeg.dll
out/realindicator-win32-x64/resources/app/dist/win-unpacked/icudtl.dat
out/realindicator-win32-x64/resources/app/dist/win-unpacked/libEGL.dll
out/realindicator-win32-x64/resources/app/dist/win-unpacked/libGLESv2.dll
out/realindicator-win32-x64/resources/app/dist/win-unpacked/LICENSE.electron.txt
out/realindicator-win32-x64/resources/app/dist/win-unpacked/LICENSES.chromium.html
out/realindicator-win32-x64/resources/app/dist/win-unpacked/realindicator.exe
out/realindicator-win32-x64/resources/app/dist/win-unpacked/resources.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/snapshot_blob.bin
out/realindicator-win32-x64/resources/app/dist/win-unpacked/v8_context_snapshot.bin
out/realindicator-win32-x64/resources/app/dist/win-unpacked/vk_swiftshader_icd.json
out/realindicator-win32-x64/resources/app/dist/win-unpacked/vk_swiftshader.dll
out/realindicator-win32-x64/resources/app/dist/win-unpacked/vulkan-1.dll
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/af.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/am.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/ar.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/bg.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/bn.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/ca.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/cs.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/da.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/de.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/el.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/en-GB.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/en-US.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/es-419.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/es.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/et.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/fa.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/fi.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/fil.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/fr.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/gu.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/he.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/hi.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/hr.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/hu.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/id.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/it.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/ja.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/kn.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/ko.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/lt.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/lv.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/ml.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/mr.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/ms.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/nb.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/nl.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/pl.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/pt-BR.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/pt-PT.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/ro.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/ru.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/sk.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/sl.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/sr.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/sv.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/sw.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/ta.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/te.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/th.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/tr.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/uk.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/ur.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/vi.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/zh-CN.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/locales/zh-TW.pak
out/realindicator-win32-x64/resources/app/dist/win-unpacked/resources/app-update.yml
out/realindicator-win32-x64/resources/app/dist/win-unpacked/resources/app.asar
out/realindicator-win32-x64/resources/app/public/favicon.ico
out/realindicator-win32-x64/resources/app/public/index.html
out/realindicator-win32-x64/resources/app/public/logo192.png
out/realindicator-win32-x64/resources/app/public/logo512.png
out/realindicator-win32-x64/resources/app/public/main.js
out/realindicator-win32-x64/resources/app/public/manifest.json
out/realindicator-win32-x64/resources/app/public/robots.txt
out/realindicator-win32-x64/resources/app/src/App.css
out/realindicator-win32-x64/resources/app/src/App.js
out/realindicator-win32-x64/resources/app/src/index.css
out/realindicator-win32-x64/resources/app/src/index.js
out/realindicator-win32-x64/resources/app/src/Assets/AMS-Modelling-Assets/AlarmIcon.png
out/realindicator-win32-x64/resources/app/src/Assets/AMS-Modelling-Assets/AlarmSummaryIcon.png
out/realindicator-win32-x64/resources/app/src/Assets/AMS-Modelling-Assets/ArrowLefticon.png
out/realindicator-win32-x64/resources/app/src/Assets/AMS-Modelling-Assets/ArrowLefticonActive.png
out/realindicator-win32-x64/resources/app/src/Assets/AMS-Modelling-Assets/ArrowRightIcon.png
out/realindicator-win32-x64/resources/app/src/Assets/AMS-Modelling-Assets/ArrowRightIconActive.png
out/realindicator-win32-x64/resources/app/src/Assets/AMS-Modelling-Assets/EngineIcon.png
out/realindicator-win32-x64/resources/app/src/Assets/AMS-Modelling-Assets/LogoAMSIcon.png
out/realindicator-win32-x64/resources/app/src/Assets/AMS-Modelling-Assets/ParameterIcon.png
out/realindicator-win32-x64/resources/app/src/Assets/AMS-Modelling-Assets/Ruler.png
out/realindicator-win32-x64/resources/app/src/Assets/AMS-Modelling-Assets/UIENINButtonSetting.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/gradient.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/Borders/BlackBorder.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/Borders/GreenBorder.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/Borders/WhiteBorder.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/Menu UI/alert.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/Menu UI/Background.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/Menu UI/border.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/Menu UI/button_play.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/Menu UI/FillSlider.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/Menu UI/Frame.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/Menu UI/KnobSlider.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/CircleSmall_Fill.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/PointerDown.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/UI-ECHO-Kursor_Zin-Zout.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/UI-ECHO-Latar.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/UI-ECHO-Menu_Empty.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/UI-ECHO-Menu.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/UI-ENIN-Button_Setting.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/UI-ENIN-Button_Zin-Zout - Copy.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/UI-ENIN-Button_Zin-Zout.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/UI-ENIN-Latar.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/UI-ENIN-Runtime_Hours_BG.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/UI-ENIN-Runtime_Hours.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Battrey/UI_ENIN_Battery_icon_inner.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Battrey/UI_ENIN_Battery_icon_Outer.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Battrey/UI_ENIN_Battery_icon.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Battrey/UI_ENIN_Battery_Volt.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/BoostPressure/UI_ENIN_Boost_MPa_BG.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/BoostPressure/UI_ENIN_Boost_MPa_FG.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/BoostPressure/UI_ENIN_Boost_MPa_Fill.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/BoostPressure/UI_ENIN_Boost_MPa_OuterRing.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/BoostPressure/UI_ENIN_Boost_MPa.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Exhaust/UI_ENIN_Eshaust_degC_BG.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Exhaust/UI_ENIN_Eshaust_degC_FG.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Exhaust/UI_ENIN_Eshaust_degC_Fill.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Exhaust/UI_ENIN_Eshaust_degC_OuterRing.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Exhaust/UI_ENIN_Eshaust_degC.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Hours/UI_ECHO_Auto_button_White.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Hours/UI_ECHO_Auto_button.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/LubOil/UI_ENIN_Lub_oil_MPa_BG.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/LubOil/UI_ENIN_Lub_oil_MPa_FG.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/LubOil/UI_ENIN_Lub_oil_MPa_Fill.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/LubOil/UI_ENIN_Lub_oil_MPa_OuterRing.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/LubOil/UI_ENIN_Lub_oil_MPa.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Revolution/UI_ENIN_Rev_RPM_BG.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Revolution/UI_ENIN_Rev_RPM_Fill.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Revolution/UI_ENIN_Rev_RPM_Front.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Revolution/UI_ENIN_Rev_RPM.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Ruler/RulerBase_High.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Ruler/RulerBase_Low.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Ruler/RulerBase_Med.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Ruler/UI_ECHO_Ruler_2.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Ruler/UI_ECHO_Ruler_3.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/Ruler/UI_ECHO_Ruler.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/WaterTemp/UI_ENIN_Water_degC_BG.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/WaterTemp/UI_ENIN_Water_degC_FG.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/WaterTemp/UI_ENIN_Water_degC_Fill.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/WaterTemp/UI_ENIN_Water_degC_OuterRing.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-ECHO/WaterTemp/UI_ENIN_Water_degC.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-RADAR/UI-RAD-Latar.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-RADAR/UI-RADARP-Pointer_No_Lines_Reverse.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-RADAR/UI-RADARP-Pointer_No_Lines.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-RADAR/UI-RADARP-Pointer.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-RADAR/UI-RADARP-Scanner_Aligned.png
out/realindicator-win32-x64/resources/app/src/Assets/UI_Asset/SVG-UI-SIMS/UI-RADAR/UI-RADARP-Scanner.png
out/realindicator-win32-x64/resources/app/src/Components/Alarm/alarm-block.js
out/realindicator-win32-x64/resources/app/src/Components/Alarm/alarm.js
out/realindicator-win32-x64/resources/app/src/Components/Alarm-Summary/alarm_summary-alarmCounter.js
out/realindicator-win32-x64/resources/app/src/Components/Alarm-Summary/alarm_summary-lastAlarm.js
out/realindicator-win32-x64/resources/app/src/Components/Alarm-Summary/alarm_summary-table.js
out/realindicator-win32-x64/resources/app/src/Components/Alarm-Summary/alarm_summary.js
out/realindicator-win32-x64/resources/app/src/Components/Frame/displayContainer.js
out/realindicator-win32-x64/resources/app/src/Components/Frame/frame.css
out/realindicator-win32-x64/resources/app/src/Components/Frame/frame.js
out/realindicator-win32-x64/resources/app/src/Components/Frame/navigator-buttons-no-icon.js
out/realindicator-win32-x64/resources/app/src/Components/Frame/navigator-buttons.js
out/realindicator-win32-x64/resources/app/src/Components/Header/header-date.js
out/realindicator-win32-x64/resources/app/src/Components/Header/header.js
out/realindicator-win32-x64/resources/app/src/Components/Indicator/indicator_boostPressure.js
out/realindicator-win32-x64/resources/app/src/Components/Indicator/indicator_coolingWaterTemp.js
out/realindicator-win32-x64/resources/app/src/Components/Indicator/indicator_exhaustTemp.js
out/realindicator-win32-x64/resources/app/src/Components/Indicator/indicator_lub_oil.js
out/realindicator-win32-x64/resources/app/src/Components/Indicator/indicator_Revolution_Engine.js
out/realindicator-win32-x64/resources/app/src/Components/Indicator/indicator_Revolution_Propeller.js
out/realindicator-win32-x64/resources/app/src/Components/Indicator/indicator.js
out/realindicator-win32-x64/resources/app/src/Components/Indicator/roundAlarm.js
out/realindicator-win32-x64/resources/app/src/Components/ME/me.js
out/realindicator-win32-x64/resources/app/src/Components/ME/ME-Indicator/me_indicator.js
out/realindicator-win32-x64/resources/app/src/Components/ME/ME-Indicator/me_indicators_group.js
out/realindicator-win32-x64/resources/app/src/Components/ME/ME-Indicator/me_state_change_button.js
out/realindicator-win32-x64/resources/app/src/Components/ME/ME-Indicator/me_temp_graph.js
out/realindicator-win32-x64/resources/app/src/Components/ME/ME-Indicator/temperature_block.js
out/realindicator-win32-x64/resources/app/src/Components/ME/ME-Progress/me_progress.js
out/realindicator-win32-x64/resources/app/src/Components/ME/ME-Progress/progress_circle_circle.js
out/realindicator-win32-x64/resources/app/src/Components/ME/ME-Progress/progress_circle_line.js
out/realindicator-win32-x64/resources/app/src/Components/ME/ME-Progress/progress_circle_text.js
out/realindicator-win32-x64/resources/app/src/Components/ME/ME-Progress/progress_circle.js
out/realindicator-win32-x64/resources/app/src/Components/Overview/battreyIndicator.js
out/realindicator-win32-x64/resources/app/src/Components/Overview/overview.js
out/realindicator-win32-x64/resources/app/src/Components/Overview/overviewButton.js
out/realindicator-win32-x64/resources/app/src/Components/Parameter/parameter.js
out/realindicator-win32-x64/resources/app/src/Components/Parameter/parameterSettings.js
out/realindicator-win32-x64/resources/app/src/Components/Parameter/parameterSettingsNumber.js
out/realindicator-win32-x64/resources/app/src/Components/Parameter/parameterSettingsToogle.js
